{% extends 'base.html.twig' %}

{% block title %}Hello ChambreController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<h1> faites reservations </h1>

<form action="{{ path('app_makereservation')}}">
    <ul>
    <li><input type = "text" name="nom" id="pet-select" placeholder="nom client"></li>
    <li><input type = "text" name="numchambre" id="pet-select" placeholder="num chambre"></li>
    </ul>
    <input type="submit" value="envoyez">
</form>
</div>
{% endblock %}